/*Background Color*/
.theme-bg,.bg-theme {
    background-color: #f1a626;
    color: #ffffff;
}
svg .bg-theme {
    fill: #f1a626;
    background-color: transparent;
}
/*Text Color*/
/*Border Color*/
/*Shadow Color*/